@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
.saferoot {
  background-color: #151820;
  width: 100%;
  color: white;
  width: 32rem;
  position: absolute;
  top: 6.5rem;
  left: 10rem;
  display: flex;
  height: calc(100vh - 9.5rem);
}
.top {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 3.5rem;
  border-bottom: solid 1px #2a2e3e;
}
.countndown {
  display: flex;
  justify-content: center;
  margin-left: 2rem;
  position: relative;
  margin-right: 1rem;
}
.count {
  font-size: 19px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}
.down {
  margin-left: 1.5rem;
  cursor: pointer;
}
.search {
  position: absolute;
  width: 25px;

  left: 6px;
}
#box {
  height: 2.5rem;
  margin-right: 0.5rem;
  padding-left: 3rem;
  cursor: pointer;
  background-color: #20232e;
  color: #5e627c;
  border: solid #20232e;
}
.searchnbox {
  position: relative;
  display: flex;
  align-items: center;
}
#empty {
  width: 222px;
  height: 260px;
  position: absolute;
  left: 150px;
  top: 193px;
}
#createNewBtn {
  top: 27rem;
  right: 13.5rem;
  position: absolute;
  background-color: hsl(329, 69%, 39%);
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  color: white;
  font-size: 1.5rem;
  border: solid 2px hsl(329, 69%, 39%);
}
#createNewBtn:hover {
  cursor: pointer;
}

#createNewBtn:hover .onHoverShowText {
  cursor: pointer;
  visibility: visible;
  cursor: pointer;
  position: absolute;
}

#createNewBtn .onHoverShowText {
  visibility: hidden;
  position: absolute;
  background: white;
  margin-left: -4.5rem;
  font-size: 0.8rem;
  margin-top: 4rem;
  color: black;
  height: 1.7rem;
  width: 8rem;
  padding-top: 0.35rem;
  font-weight: 600;
}
