.secretroot {
  position: absolute;
  top: 3.1rem;
  left: 44rem;
  background-image: linear-gradient(to top, #151820, #2c3040);
  width: calc(100vw - 55rem);
  height: calc(100vh - 11rem);
}

.backimg {
  background-image: url(../../../assets/iconsPack/safe-banner.png);
  height: 12rem;
  object-fit: contain;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding-left: 35%;
  margin-top: -10px;
  background-repeat: round;
}
.safeheader {
  font-size: 1.4rem;
  text-align: left;
  color: white;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  margin-bottom: 0.5rem;
}
.safedef {
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 0.75rem;
  text-align: left;
  color: #c4c4c4;
  line-height: 1.29;
}
.secretoption {
  padding: 0 0.7rem 0 0.7rem;
  font-family: "Helvetica", "Arial", sans-serif;
  display: flex;
  align-items: center;
  height: 3rem;
  justify-content: space-between;
  color: #5e627c;
  border-bottom: solid 3px #292d3a;
}
.secrentnpermission {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 10rem;
  height: 100%;
}
.secret,
.permission {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.secret:hover,
.permission:hover {
  border-bottom: solid 2px #e20074;
  transition: all 0.3s ease-in-out;
  color: white;
  cursor: pointer;
}
.addf {
  text-align: center;
  color: #5e627c;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.addicon {
  width: 1.8rem;
  height: 1.8rem;
  margin-left: 9px;
}
.secretcontent {
  background-image: linear-gradient(to top, #151820, #2c3040);
}
.addsecret {
  display: flex;
  align-items: center;
  justify-content: center;
}
.addsecret :hover {
  cursor: pointer;
}
