@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.mainav {
  position: relative;
  box-shadow: 0 5px 25px 0 rgba(226, 0, 116, 0.5);
  background-color: #151820;
  color: #ffffff;
  width: 100vw;
  display: flex;
  justify-content: center;
  height: 4rem;
  z-index: 3;
  padding: 0 10rem;
}
.wrapper {
  width: 100vw;
  height: 4rem;
  display: flex;
  justify-content: space-between;
}
.logonlink {
  display: flex;
  align-items: center;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
  height: 100%;
  font-family: "Nunito Sans", sans-serif;
}
.link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 1rem;
  height: 4rem;
}
ul {
  list-style-type: none;
  display: flex;
  justify-items: center;
  align-items: center;
  font-size: 0.75rem;
  height: 4rem;
}
.options {
  padding: 0 0.6rem;
  display: flex;
  justify-items: center;
  align-items: center;
}
.linklist {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
  text-align: center;
}
.admin {
  font-family: "Roboto", sans-serif;
  display: flex;

  align-items: center;

  font-size: 0.75rem;
}
.doc,
.admin2 {
  padding: 0 0.5rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  height: 1.8rem;
  margin-right: 0.5rem;
}
.textbrand {
  font-size: 1.3rem;
  letter-spacing: 3.84px;
}
.options:hover,
.doc:hover,
.admin2:hover {
  cursor: pointer;
  height: 3.9rem;
  transition: all 0.1s ease-in-out;
  background-image: linear-gradient(to top, #72134b, #1d212c);
}
.links {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
  text-align: center;
  font-size: 13px;
  text-decoration: none;
  color: #ffffff;
}
